<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Stewart Pressney</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <style>
    body{
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .jumbotron {
      margin-top: 10px;
    }
  </style>

</head>

<body>

  <div class="container">
    <%- include('partials/navbar') %>
    <div class="jumbotron">
      <h1>Full Stack Web & Interaction Design</h1>
      <p class="lead">stewartpressney@gmail.com</p>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!-- loop over blog posts and render result -->
        <% posts.forEach((post) =>{ %>
          <a href="/post/<%= post.id%>" class="list-roup-item">
            <h4 class="list-group-item-heading"><%=post.title%></h4>
            <p class="list-group-item-text"><%= post.author %></p>
          </a>
      <% }) %>
      </div>
    </div>
    <%- include('partials/footer') %>
</div>

</body>

</html>